*,
*::before,
*::after {
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark-orange: #cc9543;
    --light-orange: #ce973e;
    --dark-grey: #212529;
    --light-grey: #4a4a4a;
    --very-light-grey: #4a4a4ab3;
    --black: #000;
    --light-black: #00000080;
    --white: #fff;
    --light-white: #f3f3f3;
    --very-light-white: #eee;
    --light-blue: #6abfc3;
    --dark-blue: #4d90fe;

    /* Fonts */
    --caesar: 'Caesar Dressing', cursive;
    --open-sans: 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* Font Weight */
    --light: 300;
    --normal: 400;
    --bold: 700;
    --bolder: 900;

    /* Line height */
    --line-height: 1.8;

    /* Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200;

    /* Font Sizes */
    --sm-size: 1rem;
    --md-size: 1.25rem;
    --lg-size: 1.5rem;
    --xl-size: 2.25rem;
}

::selection {
    background-color: var(--dark-orange);
    color: var(--white);
}

body {
    font-size: var(--sm-size);
    margin: 0;
    padding:0;
    font-family: var(--open-sans);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: var(--xl-size);
    letter-spacing: .5px;
    color:var(--light-orange);
    font-weight:var(--light);
}

h2 {
    font-size: var(--lg-size);
    letter-spacing: .5px;
    color: var(--light-grey);
    font-weight: var(--bold);
}

p,
.card__details{
    font-size:1.125rem;
    color: var(--very-light-grey);
    font-weight: var(--normal);
    line-height: var(--line-height);
}
.header li,
footer li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: var(--sm-size);
    font-weight: var(--bold);
}

button {
    border: none;
    border-radius: .5em;
    font-weight: var(--bold);
    font-size: var(--sm-size);
    padding: 1em 0;
    color: white;
    cursor: pointer;
    font-family: var(--open-sans);
    background-color:var(--dark-orange);
    width:50%;
    max-width:220px;
    margin-top:1.5em;
    box-shadow:0 5px 8px 0 rgba(0, 0,  0, 0.3);
}

button:hover{
    opacity:.8;
}

.intro{
    margin-top:6em;
    text-align:center;
}

@media (min-width:851px){
    .intro{
        margin-top:4em;
    }
}



.questions{
    /* outline:1px solid red;
    width:85%;
    max-width:1000px; */
    margin:4em auto 0 auto;
    background-image:linear-gradient(to bottom, var(--white), var(--very-light-white));
    /* padding-bottom:4em; */
}

.cards{
    /* outline:1px solid green; */
    margin:auto;
    /* padding:0; */
    width:100%;
    /* max-width:900px; */
    background-color:var(--white);
    box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.1);

    padding:.1em 1em;

}

.cards + .cards{
    margin-top:2em;
}
.card__header{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.card__header{
    margin-bottom:1.5em;
}

.card__header h2{
    font-size:1.2rem;
    color:var(--very-light-grey);
}

.bold{
    font-weight:var(--bold);
}

.card__header img{
    width:30px;
    height:auto;
}

.card__link{
    color:var(--light-orange);
    font-size:1.125rem;
    font-weight:var(--normal);
}

.nested__header{
    font-size:var(--lg-size);
    font-weight:var(--normal);
}

.question{
    padding:5em 0;
    text-align:center;
}

.question__title{
    font-size:var(--xl-size);
    font-weight:var(--light);
    margin:0;
}
@media (min-width:700px){
    .card__header h2{
        font-size:1.5rem;
    }
    .cards{
        max-width:750px;
    }
}

@media (min-width:1200px){
    .cards{
        max-width:900px;
    }
}

.credits a{
    margin-top:1rem;
}
