/* Navigation menu styles */

.header {
    background-color: var(--white);
    max-height: 100%;
}

.nav__image {
    width: 250px;
    padding: .5em 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    max-width: 1000px;
    margin: auto;
}

/* Navigation menu for desktop screens */

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:7px;
    width: 80%;
}

.nav__image {
    width: 50%;
}

.logo-text {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--dark-orange);
    font-weight: var(--bolder);
    font-family: var(--caesar);
}
@media (max-width:400px){
    .logo-text{
        font-size:1.3rem;
    }
}


.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    height: 60px;
    width: auto;
    margin-right: 5px;
}

.nav-logo>img {
    height: 60px;
    width: auto
}

.nav__items svg {
    width: 10px;
    margin: 0 0 0 0;
    color: var(--very-light-grey);
}


    
/* navigation menu for mobile screens */
@media (max-width:850px) {
    body {
        overflow-x: hidden;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__image {
        width: 100%;
    }

    .nav__list {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        transform: translateY(-120%);
        background-color: rgba(0, 0, 0, .2);
        transition: all .3s ease-in-out;
    }

    .nav-logo-img {
        margin-bottom: 0;
        display: block;
    }

    .burger {
        cursor: pointer;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 3px;
        position: absolute;
        top: 160px;
        right: 30px;
    }

    .line-1,
    .line-2 {
        background-color:#9bd3d6;
        width: 25px;
        height: 5px;
    }

    .line-1 {
        transform: rotate(45deg) translateX(3.5px) translateY(3.5px);
    }

    .line-2 {
        transform: rotate(-45deg);
    }

    .nav__link,
    .dropdown a {
        color: var(--dark-orange);
        font-size: 1.9rem;
        font-weight: var(--normal);

    }

    .nav__items svg {
        width: 20px;
        margin: 0 0 0 10px;
        color: var(--dark-orange);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 20px 0;
    }


    .hamburger>div {
        height: 2px;
        width: 25px;
        background: var(--light-blue);
        border-radius: 5px;
    }

    .line2,
    .line3 {
        margin-top: 6px;
    }

    .hamburger:focus,
    .hamburger:hover {
        outline: 1px dotted var(--dark-grey);
    }

    .drop {
        margin-top: -10px;
    }

    .lin{
        display:none;
    }

    .seperator {
        height: 2px;
        width: 90%;
        background: var(--dark-orange);
        margin: 5px 0;
    }

    .dropdown {
        display: none;
        text-align: center;
    }

        .dropdown__menu svg{
            display:none;
        }
    .nav__items>.nav__link:focus+ul {
        display: block;
    }

    .nav__items>.nav__link:active+ul {
        /* display: block; */
    }

    .nav-active {
        opacity: 1;
        background-color: var(--white);
        transform: translateY(0);
    }

}

/* Drop down menu for desktop screens */
@media (min-width:851px) {
    .nav__list a:hover,
    .nav__list a:focus,
    .nav__list a:active{
        color:var(--dark-grey);
    }
    .nav__link,
    .dropdown a {
        color: var(--very-light-grey);
        font-size: var(--sm-size);
        font-weight: var(--bold);
    
    }
    .nav-logo-img {
        display: none;
    }
    
    .seperator {
        display: none;
    }

.hamburger {
    display: none;
}

    .dropdown {
        margin-left: -50px;
        position: absolute;
        background-color: var(--white);
        margin-top: 10px;
        width: 160px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        border-radius: 5px;
        box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all .2s ease;
    }

    .dropdown li {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        padding-left: 10px;
    }

    .dropdown a {
        display:flex;
        gap:15px;
        color: var(--light-orange);
        font-weight: var(--normal);
    }

    .dropdown a svg{
        width:18px;
    }

    .dropdown a:hover {
        color: var(--black);
    }

    .community:focus+.dropdown {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

}

@media (min-width:950px) {
    .logo-text {
        font-size: 1.8rem;
    }

    .logo > img{
        height:70px;
    }
}

