/* Navigation menu styles */

.header {
    background-color: var(--white);
    /* background:black; */
    max-height: 100%;
}

.nav__image {
    width: 250px;
    padding: .5em 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* outline:1px solid red; */
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

/* Navigation menu for desktop screens */

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.nav__image {
    width: 40%;
}

.logo-text {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--dark-orange);
    font-weight: var(--bolder);
    font-family: var(--caesar);
}

@media (min-width:950px) {
    .logo-text {
        font-size: 1.8rem;
    }
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img {
    height: 80px;
    width: auto;
    margin-right: 10px;
}

.nav-logo>img {
    height: 60px;
    width: auto
}

.nav__items svg {
    width: 10px;
    margin: 0 0 0 0;
    color: var(--very-light-grey);
}


    
/* navigation menu for mobile screens */
@media (max-width:850px) {
    body {
        overflow-x: hidden;
    }

    header {
        /* position: relative; */
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__image {
        width: 100%;
    }

    .nav__list {
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        /* opacity:.5; */
        transform: translateY(-120%);
        background-color: rgba(0, 0, 0, .2);
        transition: all .3s ease-in-out;
    }

    .nav-logo-img {
        margin-bottom: 0;
        display: block;
    }

    .burger {
        /* text-align:right; */
        cursor: pointer;
        /* outline:1px solid red; */
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 3px;
        padding-right: 3px;
        position: absolute;
        top: 160px;
        right: 30px;
    }

    .line-1,
    .line-2 {
        background-color: var(--light-blue);
        width: 25px;
        height: 3px;
    }

    .line-1 {
        transform: rotate(45deg) translateX(2px) translateY(2px);
    }

    .line-2 {
        transform: rotate(-45deg);
    }

    .nav__link,
    .dropdown a {
        color: var(--dark-orange);
        font-size: var(--xl-size);
        font-weight: var(--normal);

    }

    .nav__items svg {
        width: 20px;
        margin: 0 0 0 10px;
        color: var(--dark-orange);
    }

    .hamburger {
        display: block;
        cursor: pointer;
        padding: 20px 0;
    }


    .hamburger>div {
        height: 2px;
        width: 25px;
        background: var(--dark-blue);
        border-radius: 5px;
    }

    .line2,
    .line3 {
        margin-top: 7px;
    }

    .hamburger:focus,
    .hamburger:hover {
        outline: 1px dotted var(--dark-grey);
    }

    .drop {
        margin-top: -10px;
    }

    .lin{
        display:none;
    }

    .seperator {
        height: 2px;
        width: 90%;
        background: var(--dark-orange);
        margin: 5px 0;
    }

    .dropdown {
        display: none;
        text-align: center;
    }

    .nav__items>.nav__link:focus+ul {
        display: block;
    }


    .nav-active {
        opacity: 1;
        background-color: var(--white);
        transform: translateY(0);
    }

}

/* Drop down menu for desktop screens */
@media (min-width:851px) {

    .nav__link,
    .dropdown a {
        color: var(--very-light-grey);
        font-size: var(--sm-size);
        font-weight: var(--bold);
    
    }
    .nav-logo-img {
        display: none;
    }
    
    .seperator {
        display: none;
    }

.hamburger {
    display: none;
}

    .dropdown {
        margin-left: -50px;
        position: absolute;
        background-color: var(--white);
        margin-top: 10px;
        width: 160px;
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        border-radius: 5px;
        box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
        transition: all .2s ease;
    }

    .dropdown li {
        /* background-color:yellow; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        /* border-radius:5px; */
        padding-left: 10px;
    }

    .dropdown a {
        display:flex;
        gap:15px;
        color: var(--light-orange);
        font-weight: var(--normal);
    }

    .dropdown a svg{
        width:18px;
    }

    .dropdown a:hover {
        color: var(--black);
    }

    .community:focus+.dropdown {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

}