*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark-orange: #cc9543;
    --light-orange: #ce973e;
    --dark-grey: #212529;
    --light-grey: #4a4a4a;
    --very-light-grey: #4a4a4ab3;
    --black: #000;
    --light-black: #00000080;
    --white: #fff;
    --light-white: #f3f3f3;
    --very-light-white: #eee;
    --light-blue: #6abfc3;
    --dark-blue: #4d90fe;

    /* Fonts */
    --caesar: 'Caesar Dressing', cursive;
    --open-sans: 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* Font Weight */
    --light: 300;
    --normal: 400;
    --bold: 700;
    --bolder: 900;

    /* Line height */
    --line-height: 1.7;

    /* Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200;

    /* Font Sizes */
    --sm-size: 1rem;
    --md-size: 1.25rem;
    --lg-size: 1.5rem;
    --xl-size: 2.25rem;
}

::selection {
    background-color: var(--dark-orange);
    color: var(--white);
}

body {
    font-size: var(--sm-size);
    margin: 0;
    font-family: var(--open-sans);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: var(--xl-size);
    letter-spacing: .5px;
    font-weight:var(--light);
    color:var(--dark-orange);
}

p {
    font-weight: var(--normal);
    line-height: var(--line-height);
    font-size: var(--md-size);
    color: var(--very-light-grey);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: var(--sm-size);
    font-weight: var(--bold);
}

button {
    border: none;
    border-radius: .2em;
    font-weight: var(--bold);
    font-size: var(--sm-size);
    padding: 1em 0;
    color: white;
    cursor: pointer;
    font-family: var(--open-sans);
    width:90%;
    max-width:430px;
    box-shadow:0 0.05em 0.25em 0 rgba(0,0,0,0.5);

}

button:hover{
    opacity:.7;
}

.intro{
    margin-top:6em;
    text-align:center;
}

@media (min-width:851px){
    .intro{
        margin-top:4em;
    }
}
main{
    background-image: -webkit-linear-gradient(to bottom, var(--white), var(--light-white));
    background-image: -moz-linear-gradient(to bottom, var(--white), var(--light-white));
    background-image: -o-linear-gradient(to bottom, var(--white), var(--light-white));
    background-image: linear-gradient(to bottom, var(--white), var(--light-white));
}
.form{
    background-color:var(--white);
    box-shadow:0 5px 16px 0 rgba(0, 0, 0, 0.1);
    width:85%;
    max-width:500px;
    margin:2em auto 0 auto;
    padding:3em 1em;
}
.form-inputs{
    text-align:center;
    position:relative;
}

input[type=text],
input[type=email],
input[type=password]{
    background-color:rgba(0,0,0,0.03);
    width:90%;
    max-width:430px;
    padding:1em 0 1em 3.5em;
    border:none;
    margin:auto;
    font-size:var(--sm-size);
    font-family: var(--open-sans);
    color:var(--light-grey);
}
.form-inputs + .form-inputs{
    margin-top:1.3em;
}

::placeholder{
    font-size:var(sm-size);
    color:rgba(0, 0, 0, 0.3);
}

.envelope-icon::before{
    content:url(../images/sign_up/envelope-solid.svg);
    position:absolute;
    top:15px;
    right:0;
    left:30px;
    bottom:0;
    width:25px;
}
.lock-icon::before{
    content:url(../images/sign_up/lock-solid.svg);
    position:absolute;
    top:13px;
    right:0;
    left:30px;
    bottom:0;
    width:25px;
}

.remember{
    /* display:flex;
    justify-content: space-between; */
    margin:1.5em auto 0 auto;
    /* width:90%; */text-align:center;
}

.remember-me{
    display:flex;
    align-items: center;
    justify-content:Center;
    margin-bottom:1em;
}

.remember-me p{
    font-size:.9rem;
    letter-spacing:.5px;
    color:rgba(0, 0, 0, 0.3);
}

.checkbox{
    display:block;
    width:20px;
    height:20px;
    margin-right:.5em;
    background-color:rgba(0, 0, 0, 0.09);
    cursor:pointer;
    position:relative;
}

.tick{
    content:url(../images/login/check-solid.svg);
    margin-left:2px;
    margin-top:2px;
    width:15px;
    position:absolute;
    cursor:pointer;
    display:none;
}
.active{
    display:block;
}
.remember a{
    font-size:.9rem;
    color:rgba(74,74,74,.3);
    text-decoration:underline;
    font-weight:normal;
}

.links{
    margin:.8em auto 0 auto;
    text-align:center;
}

.form-link{
    font-size:.8rem;
    color:var(--light-grey);
    text-decoration:underline;
    font-weight:var(--light);
    letter-spacing:.3px;
}

.sign_up{
    margin-top:1.5em;
    background-color:var(--light-blue);
}

.sign{
    font-size:.8rem;
    text-transform:uppercase;
    letter-spacing:.5px;
    margin:1em 0 1em 0;
    color:var(--very-light-grey);
    opacity:.5;
}

.sign::before,
.sign::after{
    content:'';
    height:1px;
    width:20%;
    background-color:var(--very-light-grey);
    opacity: .5;
    display:inline-block;
    vertical-align: middle;
}

.sign::before{
    margin-right:15px;
}

.sign::after{
    margin-left:15px;
}


.github{
    background-color:var(--light-grey);
    margin-bottom:1em;
}

.google{
    background-color:var(--dark-blue);
}

.login-section{
    margin-top:1em;
    text-align:center;
    padding:7em 0;
}

.login-section p{
    font-size:var(--xl-size);
    font-weight:var(--light);
}

.bottom-cta{
    margin-top:2em;
    
}

.login{
    color:rgba(74,74,74,.3);
    border: 3px solid rgba(74,74,74,.3);
    border-radius:0.2em;
    padding:1em 2.5em;
}

.login:hover{
    color:var(--dark-grey);
    border-color: var(--dark-grey);
}

@media (max-width:320px){
    .sign::before,
    .sign::after{
    content:'';
    height:1px;
    width:15%;
    background-color:var(--very-light-grey);
    opacity: .5;
    display:inline-block;
    vertical-align: middle;
}
}

@media (max-width:280px){
    .sign::before,
    .sign::after{
        display:none;
    }
}

@media (min-width:700px){
    .remember{
        display:flex;
        justify-content: space-between;
        margin:1.5em auto 0 auto;
        width:90%;
    }
}