*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark-orange: #cc9543;
    --light-orange: #ce973e;
    --dark-grey: #212529;
    --light-grey: #4a4a4a;
    --very-light-grey: #4a4a4ab3;
    --black: #000;
    --light-black: #00000080;
    --white: #fff;
    --light-white: #f3f3f3;
    --very-light-white: #eee;
    --light-blue: #6abfc3;
    --dark-blue: #4d90fe;

    /* Fonts */
    --caesar: 'Caesar Dressing', cursive;
    --open-sans: 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* Font Weight */
    --light: 300;
    --normal: 400;
    --bold: 700;
    --bolder: 900;

    /* Line height */
    --line-height: 1.7;

    /* Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200;

    /* Font Sizes */
    --sm-size: 1rem;
    --md-size: 1.25rem;
    --lg-size: 1.5rem;
    --xl-size: 2.25rem;
}

::selection {
    background-color: var(--dark-orange);
    color: var(--white);
}

body {
    font-size: var(--sm-size);
    margin: 0;
    font-family: var(--open-sans);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: var(--xl-size);
    letter-spacing: .5px;
    font-weight:var(--light);
    color:var(--dark-orange);
}

p {
    font-weight: var(--normal);
    line-height: var(--line-height);
    font-size: var(--md-size);
    color: var(--very-light-grey);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: var(--sm-size);
    font-weight: var(--bold);
}

button {
    border: none;
    border-radius: .5em;
    font-weight: var(--bold);
    font-size: var(--sm-size);
    padding: 1em 0;
    color: white;
    cursor: pointer;
    font-family: var(--open-sans);
    /* width:90%; */
    /* margin:auto; */
    /* text-align:center; */
}

.intro{
    margin-top:6em;
    text-align:center;
}

form{
    background-color: var(--white);
    box-shadow:0 5px 16px 0 rgba(0, 0, 0, 0.1);
    width:85%;
    padding:2em 0;
    margin:2em auto 0 auto;
    text-align:center;

}

input[type=email],
input[type=password]{
    width:80%;
    padding:1em 0 1em 2.5em;
    border:none;
    background:rgba(0, 0, 0, 0.03);
    color:var(--dark-grey);
    font-size:var(--open-sans);
    font-weight:var(--normal);
    font-size:var(--sm-size);
}

input[type=password]{
    margin-top:1.5em;
}

::placeholder{
    color:rgba(74,74,74,.3);
}