*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark-orange: #cc9543;
    --light-orange: #ce973e;
    --dark-grey: #212529;
    --light-grey: #4a4a4a;
    --very-light-grey: #4a4a4ab3;
    --black: #000;
    --light-black: #00000080;
    --white: #fff;
    --light-white: #f3f3f3;
    --very-light-white: #eee;
    --light-blue: #6abfc3;
    --dark-blue: #4d90fe;

    /* Fonts */
    --caesar: 'Caesar Dressing', cursive;
    --open-sans: 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* Font Weight */
    --light:300;
    --normal: 400;
    --bold: 700;
    --bolder: 900;

    /* Line height */
    --line-height: 1.7;

    /* Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200;

    /* Font Sizes */
    --sm-size: 1rem;
    --md-size: 1.25rem;
    --lg-size: 1.5rem;
    --xl-size: 2.25rem;
}

body {
    font-size: var(--sm-size);
    margin: 0;
    font-family: var(--open-sans);
    /* text-align:center; */
}

.container {
    /* outline:1px solid red; */
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    /* font-family:var(--open-sans); */
    font-weight: var(--bold);
}

h1 {
    font-size: var(--xl-size);
    letter-spacing:.5px;
}

h2 {
    font-size: var(--lg-size);
    letter-spacing:.5px;
    color:var(--light-grey);
}

h3, 
p {
    font-size: var(--md-size);
}

h3{
    letter-spacing:.5px;
    color:var(--light-grey);
}

h4 {
    font-size: var(--sm-size);
    letter-spacing:.5px;
    color:var(--light-grey);
}

p{
    color:var(--very-light-grey);
}

p {
    font-weight: var(--normal);
    line-height: var(--line-height);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: var(--sm-size);
    font-weight: var(--bold);
    /* color:var(--light-grey); */
}

a:hover {
    /* color:var(--black); */
}

button {
    border: none;
    border-radius: .5em;
    font-weight: var(--bold);
    font-size: var(--sm-size);
    padding: 1em 0;
    color: white;
    cursor: pointer;
    font-family:var(--open-sans);
}

.header {
    background-color: var(--white);
    max-height: 100%;
}

.nav__image {
    width: 250px;
    padding: .2em 0;
}

.logo-text {
    font-size: var(--md-size);
    text-transform: uppercase;
    color: var(--dark-orange);
    font-weight: var(--bolder);
    font-family: var(--caesar);
}

.logo {
    display: flex;
    align-items: center;
}

.logo>img,
.nav-logo>img {
    height: 60px;
    width: auto
}

.hamburger {
    cursor: pointer;
    padding: 20px 0;
}


.hamburger>div {
    height: 2px;
    width: 25px;
    background: var(--dark-blue);
    border-radius: 5px;
}

.line2,
.line3 {
    margin-top: 7px;
}

.hamburger:focus,
.hamburger:hover {
    outline: 1px dotted var(--dark-grey);
}

@media (max-width:767px) {
    body {
        overflow-x: hidden;
    }

    header {
        /* position: relative; */
        position:fixed;
        top:0;
        width:100%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__list {
        position: fixed;
        right: 0;
        top: 12.3vh;
        height: 100vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
        /* opacity:.5; */
        transform: translateY(-120%);
        background-color: rgba(0, 0, 0, .2);
        transition: all .5s ease-in-out;
    }

    .nav-logo-img {
        margin-bottom: 0;
    }

    .nav__link,
    .dropdown a {
        color: var(--dark-orange);
        font-size: var(--xl-size);
        font-weight: var(--normal);

    }

    .nav__items svg {
        width: 20px;
        margin: 0 0 0 10px;
        color: var(--dark-orange);
    }

    .drop {
        margin-top: -10px;
    }

    .line {
        display: none;
    }

    .seperator {
        height: 2px;
        width: 90%;
        background: var(--dark-orange);
        margin: 5px 0;
    }

    .dropdown {
        display: none;
    }

    .drop>.nav__link:focus+ul {
        display: block;
        text-align: center;

    }

    .nav-active {
        opacity: 1;
        background-color: var(--white);
        /* transform: translateY(0); */
    }

}
.intro{
    margin-top:6em;
    background-image:linear-gradient(to bottom, var(--white), var(--very-light-white));
}

.intro__text{
    text-align:center;
}
.intro__text h1{
    color:var(--light-orange);
    font-weight:var(--light);
    letter-spacing:.6px;
}

.intro__text p{
    /* color:var(--very-light-grey); */
    margin-top:1em;
}

.intro__btn{
    margin-top:3em;
    background-color:var(--light-blue);
    font-weight:var(--bold);
    width:80%;
    letter-spacing:.3px;
}

.home-image{
    margin-top:3em;
}

.features{
    margin-top:3em;
    text-align:center;
}

.features__text p{
    margin-top:2em;
    font-weight:400;
}

.features img{
    height:120px;
}

.learn{
    margin-top:3em;
}

.build, .connect{
    margin-top:2.5em;
}

.features__list h3{
    margin-top:1.5em;
}

.features__list p{
    margin-top:1em;
}

.courses{
    margin-top:4em;
    background-color:var(--light-white);
    padding:5em 0 3em 0;
    text-align:center;
}

.courses h2{
    margin-bottom: 2em;
}

.course__image{
    height:80px;
    width:80px;
}

.course h4{
    text-transform:uppercase;
    margin-top:.4em;
}

.course{
    margin:2em auto 0 auto;
    background:var(--white);
    width:90%;
    max-width:400px;
    padding:1em 0;
}

.courses__btn{
    margin-top:3em;
    background-color:var(--dark-orange);
    width:60%;
}

.stories{
    margin-top:2em;
    padding-bottom:4em;
    background:linear-gradient(to bottom, var(--white), var(--light-white));
}

.stories h2{
    text-align:center;
    margin-bottom:2em;
}

.user > img,
.hidden{
    display:none;
}

.user__name a {
    color:var(--light-orange);
    font-weight:var(--normal);
}

.user__name{
    margin-bottom:1.5em;
}

.user > p{
    font-size:var(--sm-size);
}

.user + .user{
    margin-top:2em;
}

.read__more{
    margin-top:1.5em;
    text-align:center;
}

.read__more a{
    color:var(--very-light-grey);
    text-decoration:underline;
    font-weight:var(--normal);
}

.sign__up{
    margin-top:4em;
    text-align:center;
}

.sign__up > p{
    font-size:1.7rem;
    font-weight:var(--light);
}

.sign__up-btn{
    background-color:var(--light-blue);
    margin-top:2em;
    width:45%;
}

footer{
    padding:2em 0;
}
.footer__logo,
.footer__links{
    display:none;
}

.footer__social__items{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}

.footer__social__links > img{
    width:30px;
}