*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --dark-orange: #cc9543;
    --light-orange: #ce973e;
    --dark-grey: #212529;
    --light-grey: #4a4a4a;
    --very-light-grey: #4a4a4ab3;
    --black: #000;
    --light-black: #00000080;
    --white: #fff;
    --light-white: #f3f3f3;
    --very-light-white: #eee;
    --light-blue: #6abfc3;
    --dark-blue: #4d90fe;

    /* Fonts */
    --caesar: 'Caesar Dressing', cursive;
    --open-sans: 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

    /* Font Weight */
    --light: 300;
    --normal: 400;
    --bold: 700;
    --bolder: 900;

    /* Line height */
    --line-height: 1.7;

    /* Breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200;

    /* Font Sizes */
    --sm-size: 1rem;
    --md-size: 1.25rem;
    --lg-size: 1.5rem;
    --xl-size: 2.25rem;
}

::selection {
    background-color: var(--dark-orange);
    color: var(--white);
}

body {
    font-size: var(--sm-size);
    margin: 0;
    font-family: var(--open-sans);
    /* text-align:center; */
}

.container {
    /* outline:1px solid red; */
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4 {
    /* font-family:var(--open-sans); */
    font-weight: var(--bold);
}

h1 {
    font-size: var(--xl-size);
    letter-spacing: .5px;
}

h2 {
    font-size: var(--lg-size);
    letter-spacing: .5px;
    color: var(--light-grey);
}

h3,
p {
    font-size: var(--md-size);
}

h3 {
    letter-spacing: .5px;
    color: var(--light-grey);
}

h4 {
    font-size: var(--sm-size);
    letter-spacing: .5px;
    color: var(--light-grey);
}

p {
    color: var(--very-light-grey);
}

p {
    font-weight: var(--normal);
    line-height: var(--line-height);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: var(--sm-size);
    font-weight: var(--bold);
    /* color:var(--light-grey); */
}

a:hover {
    /* color:var(--black); */
}

button {
    border: none;
    border-radius: .5em;
    font-weight: var(--bold);
    font-size: var(--sm-size);
    padding: 1em 0;
    color: white;
    cursor: pointer;
    font-family: var(--open-sans);
}

.intro {
    margin-top: 6.5em;
    background-image: linear-gradient(to bottom, var(--white), var(--very-light-white));
}

@media (min-width:851px){
    .intro{
        margin-top:3em;
    }
}
.intro__text {
    text-align: center;
}

.intro__text h1 {
    color: var(--light-orange);
    font-weight: var(--light);
    letter-spacing: .6px;
}

.intro__text p {
    /* color:var(--very-light-grey); */
    margin-top: 1em;
}

.intro__btn {
    margin-top: 3em;
    background-color: var(--light-blue);
    font-weight: var(--bold);
    width: 80%;
    max-width: 300px;
    letter-spacing: .3px;
}

.home-image {
    margin-top: 3em;
}

.features {
    margin-top: 5em;
    text-align: center;
}

.features__text p {
    margin-top: 2em;
}

.features img {
    height: 120px;
}

.learn {
    margin-top: 5em;
}

.build,
.connect {
    margin-top: 2.5em;
}

.features__list h3 {
    margin-top: 1.5em;
}

.features__list p {
    margin-top: 1em;
}

.courses {
    margin-top: 5em;
    background-color: var(--light-white);
    padding: 5em 0 5em 0;
    text-align: center;
}

.courses h2 {
    margin-bottom: 2em;
}

.course__image {
    height: 100px;
    width: 100px;
}

.course h4 {
    text-transform: uppercase;
    margin-top: .4em;
}

.course {
    margin: 2em auto 0 auto;
    background: var(--white);
    width: 90%;
    max-width:350px;
    padding: 1.5em 0;
}

.courses__btn {
    margin-top: 4em;
    background-color: var(--dark-orange);
    width: 60%;
    max-width: 250px;
}

.stories {
    margin-top: 4em;
    padding-bottom: 4em;
    background: linear-gradient(to bottom, var(--white), var(--light-white));
}

.stories h2 {
    text-align: center;
    margin-bottom: 4em;
}

.user>img,
.hidden {
    display: none;
}

.user__name a {
    color: var(--light-orange);
    font-weight: var(--normal);
}

.user>p {
    font-size: var(--sm-size);
}

.user+.user{
    margin-top: 2em;
}

.user__section + .user__section{
    margin-top: 2em;
}

.read__more {
    margin-top: 4.5em;
    text-align: center;
}

.read__more a {
    color: var(--very-light-grey);
    text-decoration: underline;
    font-weight: var(--normal);
}

.sign__up {
    margin-top: 4em;
    text-align: center;
}

.sign__up>p {
    font-size:var(--xl-size);
    font-weight: var(--light);
}

.sign__up-btn {
    background-color: var(--light-blue);
    margin-top: 2em;
    width: 45%;
    max-width:250px;
}


@media (min-width:480px) {
    .user img {
        display: block;
        width: 50px;
        height: 50px;
        clip-path: circle(50%);
        margin: .5em 1em 0 0;
    }

    .hidden {
        display: block;
    }

    .user {
        display: flex;
    }

}

@media (min-width:600px) {

    .courses__type{
        display:flex;
        flex-wrap:wrap;
        gap:2em;
        justify-content: center;
    }

    .course__image {
        height: 150px;
        width: 150px;
    }
    .course {
        width: 220px;
        max-width:100%;
    }

}

@media (min-width:700px){
    .features__text{
        max-width:75ch;
        margin:auto;
    }
    .features__list p{
        max-width:40ch;
        margin-right:auto;
        margin-left:auto;
    }

    .course__image{
        height:200px;
        width:200px;
    }

    .course {
        width: 280px;
        max-width:100%;
    }

    .user{
       margin:auto;
        /* outline:1px solid red; */
        width:600px;
    }
    .user p{
        max-width:45ch;
    }
}

@media (min-width:850px){
    .features__list{
        display: flex;
        gap:2em;
        margin-top:8em;
    }

    .features__list p{
        max-width:100%;
    }

    .learn,
    .build,
    .connect {
        margin: 0;
    }

}
@media (min-width:1200px){
    
    .user{
         width:100%;
     }
    
     .user+.user{
        margin-top: 0;
    }
    
    .user__section + .user__section{
        margin-top: 0;
    }

    .user__section-1{
        display:flex;
        gap:2em;
    }
    .user__section-2{
        display:flex;
        gap:2em;
        margin-top:3em;
    }
}